<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <span style="font-size:medium">Dec 1, 2022 | 9:00AM - 4:30PM | 32-133</span>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td>Setup</td> </tr>
      <tr> <td>09:30</td>  <td>Plotting and Programming with Python 1</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:30</td>  <td>Plotting and Programming with Python 2</td> </tr>
      <tr> <td>16:15</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <span style="font-size:medium">Dec 8, 2022 | 9:00AM - 4:30PM | 34-328</span>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Plotting and Programming with Python 3</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:30</td>  <td>Plotting and Programming with Python 4</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up and <a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
